
.container{
    margin-top: 30px;
}
.container p, .col-md-2{
    margin-top: 18px;
    color: black;
}
.row{
    border: 2px solid lightgrey;
    border-radius: 10px;
    background-color: white;
}

.btn, .bi-trash-fill, .bi-pencil {
    margin-top:10px;
    margin-bottom: 10px;
}
.bi-trash-fill, .bi-pencil{
    width: 2rem;
    height: 2rem;
}
@media only screen and (max-width: 420px), (max-width: 745px){
    
}