
.container{
    margin-top: 30px;
}
.container p, .col-md-3{
    color: black;
}
.container p, .col-md-4, .col-md-3, .col-md-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.task, .date{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: lightgrey;
}
.row{
    border: 2px solid lightgrey;
    border-radius: 10px;
    background-color: white;
    margin-bottom: -25px;
}

.bi-trash-fill, .bi-pencil {
    margin-top:10px;
    margin-bottom: 10px;
}
.bi-trash-fill, .bi-pencil{
    width: 2rem;
    height: 2rem;
}
@media only screen and (max-width: 420px), (max-width: 745px){
    
}