.container{
    margin-top: 30px;
}

.container p, .col-md-3{
    color: black;
}

.container p, .col-md-4, .col-md-3, .col-md-1, .col-md-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.task, .date, .btn, .bi-trash-fill, select{
  width: 100%
}

.task, .date, .btn{
  margin: 5px;
  border: 1px solid rgba(221, 224, 224, 0.5);
  background-color: white;
  border-radius: 3px;
}

.row{
    background-color: rgb(255,255,255,0.9);
    margin-bottom: -25px;
}

input {
  width: inherit;
  text-align: center;
  outline: none;
  border: none;
  background-color:  rgba(221, 224, 224, 0.0);
  color:rgb(54, 53, 53); 
}

@media only screen and (min-width: 790px) and (max-width: 998px){
    .task, .date{
      font-size: smaller;
    }
  }
  @media only screen and (min-width: 700px) and (max-width: 790px){
    .task, .date{
      font-size: smaller;
    }
  }
  @media only screen and (min-width: 500px) and (max-width: 700px){
    .task, .date{
        font-size: smaller;
      }
    }