:root {
  --primary: rgb(20, 20, 114);
  --danger: rgb(224, 9, 9);
  --warning: orange;
  --success: rgb(21, 141, 21);
  --white: white;
  --dark: black;
  --secondary: rgba(128, 128, 128, 0.863);
  --info: rgb(9, 147, 160);
  --low: rgb(255, 230, 0);
}

.btn {
  font-family: sans-serif;
  font-weight: 400;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.btn:hover {
  color: white;
}
.btn--secondary--outline:hover {
    color: green;
    border: 1px solid green;
    font-weight: bold;

  }

.btn--primary--solid {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 6px;
}

.btn--danger--solid {
  background-color: var(--danger);
  color: var(--white);
  border-radius: 6px;
}
.btn--warning--solid {
  background-color: var(--warning);
  color: var(--white);
  border-radius: 6px;
}
.btn--success--solid {
  background-color: var(--success);
  color: var(--white);
  border-radius: 6px;
}

.btn--info--solid {
  background-color: var(--info);
  color: var(--white);
  border-radius: 6px;
}

.btn--secondary--outline {
  background-color: none;
  color: var(--dark);
  border: 1px solid grey;
  border-radius: 6px;
}

.btn--low--solid {
  background-color: var(--low);
  color: var(--white);
  border-radius: 6px;
}
