.add-date, .form-control, select, option, .btn{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border: 1px solid rgba(221, 224, 224, 0.5);
    height: 40px;
    border-radius: 3px;
    margin: 5px;
}
.add-date{
    background-color: white;
    border: 1px solid rgba(221, 224, 224, 0.5);
}


@media only screen and (max-width:1200px){
   .col-md-4, .col-md-3, .col-md-2, .col-md-1{
       width: 200px;
       margin-left: 5px;
       margin-right: 5px;
    }
}
@media only screen and (max-width:1000px){
    .col-m-4, .col-m-3, .col-m-2, .col-m-1{
        width: 150px;
        margin-left: 5px;
        margin-right: 5px;
     }
 }

 @media only screen and (max-width:500px) {
    .container-fluid {
      width: 100%;
    }
    
    #taskText, #taskDate, #taskCategory, #taskPriority, #add {
      height: 60px;
      border-top: 1px solid lightgray;
      margin:0;
    }
  }
